.home__filter_heading{
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.home__filter_heading a{
  color: black;
  font-size: 0.75em;
}

@media (min-width: 768px) {
  .home__filter_heading a{
    font-size: 1.125em;
  }
}